.class1{
  height: 300px;
  width: 80%;
  border: 1px solid;
  border-radius: 10px;
  background-image:url(a.png);
  background-repeat: no-repeat;
  background-size:  100% 300px;
  margin-left: 125px;
  margin-top: 20px;
  
}
.class2{
  height: 300px;
  width: 80%;
  border: 1px solid;
  border-radius: 10px;
  background-image:url(b.png);
  background-repeat: no-repeat;
  background-size:  100% 300px;
  margin-left: 125px; 
  margin-top: 20px;

}
.class3{
  height: 300px;
  width: 80%;
  border: 1px solid;
  border-radius: 10px;
  background-image:url(c.png);
  background-repeat: no-repeat;
  background-size:  100% 300px;
  margin-left: 125px;
  
  margin-top: 20px;

}
.content{
  position: absolute;
  left: 400px;
 margin-top: 20px;
}
